<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recognition Of Faces Lectured</title>
</head>
<body>
    <h1>Recognition Of Faces Lectured</h1>
    <p style="display: {{displayment}}"> Welcome, {{username}} </p>
    <a class="button" href="/login">Login with Google</a>
    <a class="button" href="/logout" style="display: {{displayment}}">Logout</a>
    <hr>
    <iframe src="https://drive.google.com/file/d/1hr_F4GAnvZrww5TETZ6Vz_2IvtgdT4iu/preview" width="640" height="480" allowfullscreen>
    <a href="https://drive.google.com/file/d/1hr_F4GAnvZrww5TETZ6Vz_2IvtgdT4iu/view?usp=sharing">
        Example
    </a>
    </iframe>
    <hr>
    {% block exception %}{% endblock %}

    {% block upload %}{% endblock %}
    {% block thank %}{% endblock %}
</body>
</html>