<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recognition Of Faces Lectured</title>
</head>
<body>
    <h1>Recognition Of Faces Lectured</h1>

    <h2>Загрузите видеофайл:</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <hr>

    <a href="https://drive.google.com/file/d/1hr_F4GAnvZrww5TETZ6Vz_2IvtgdT4iu/view?usp=sharing">
        Example</a>
    <video controls>
        <source src="./queue/2020-08-12_08-00_305_54.mp4" type="video/mp4">
        your browser does not support video tag
    </video>
    {% block exception %}{% endblock %}
    {% block video %}{% endblock %}
</body>
</html>